# Mac
.DS_Store

# Vim detritus
*.swp

# testing
.pytest_cache/

# development - never save scratch or tmp
scratch/
tmp/
.*_cache/
*.scratch
*.tmp

# git manipulation files
*.diff

# secrets
.secrets.*.yaml

# Casesafe
.fseventsd
.autodiskmounted

# pg custom format exports
*.pg
